.contacts_wrapper h1{
    font-family: 'ModernoTwo', sans-serif;
    font-weight: 100;
    font-size: 3.65vw;
    text-align: center;
    margin: 0;
}
.contacts_text h1{
    color: #442D2D;
}
.contacts_text p{
    width: 65.83vw;
    font-family: 'SHelvetica_regular', 'sans-serif';
    font-size: 1.82vw;
    line-height: 2.34vw;
    color: #442D2D;
    margin: 0;
    margin-top: 3.65vw;
    margin-bottom: 3.65vw;
}
.contacts_text strong{
    font-family: 'SHelvetica_bold', 'sans-serif';
    font-weight: 100;
}
.contacts_phone{
    display: flex;
    align-items: center;
}
.contacts_phone a{
    color: #442D2D;
    text-align: center;
    font-family: 'SHelvetica_regular', 'sans-serif';
    font-weight: 100;
    font-size: 2.60vw;
    margin: 0;
    text-decoration: none;
}
.contacts_phone hr{
    width: 0.21vw;
    background-color: #442D2D;
    height: 4.69vw;
    border: 0;
    border-radius: 1.56vw;
    margin-left: 1.56vw;
    margin-right: 1.56vw;
}
.contacts_map_and_social_media{
    background-color: #797D47;
    margin-bottom: 3.65vw;
}
.contacts_map_and_social_media{
    color: #F2EBD9;
}
.contacts_map{
    width: 65.83vw;
    height: 37.03vw;
    margin-top: 3.65vw;
    margin-bottom: 3.65vw;
}
.contacts_social_media_icons{
    display: flex;
}
.contacts_social_media_icons img{
    width: 4.17vw;
}
.contacts_social_media_icons a{
    margin-left: 0.78vw;
    margin-right: 0.78vw;
}
@media only screen and (max-width: 600px) {
    .contacts_wrapper h1{
        font-size: 9vw;
        margin: 4vw 0;
    }
    .contacts_text p{
        font-size: 5vw;
        line-height: 7vw;
        width: 90%;
        margin: 4vw 0;
    }
    .contacts_phone{
        flex-direction: column;
        width: 90%;
        margin: 4vw 0;
    }
    .contacts_phone a{
        font-size: 7vw;
        line-height: 7vw;   
    }

    .contacts_phone hr{
        height: 0.5vw;
        width: 80%;
        margin: 4vw 0;
    }
    .contacts_map {
        width: 90%;
        height: 70vw;
        margin: 4vw 0;
    }
    .contacts_social_media_icons{
        margin: 4vw 0;
    }
    .contacts_social_media_icons img{
        width: 7vw;
    }
    .contacts_social_media_icons a{
        margin: 0 3vw;
    }
}