@font-face {
    font-family: 'SHelvetica_regular';
    src: url('../fonts/Helvetica/helvetica_regular.otf') format('opentype');
}
@font-face {
    font-family: 'SHelvetica_bold';
    src: url('../fonts/Helvetica/helvetica_bold.otf') format('opentype');
}
@font-face {
    font-family: 'SHelvetica_light';
    src: url('../fonts/Helvetica/helvetica_light.otf') format('opentype');
}
@font-face {
    font-style: oblique;
    font-family: 'SHelvetica_light';
    src: url('../fonts/Helvetica/helvetica_lightoblique.otf') format('opentype');
}
@font-face {
    font-style: oblique;
    font-family: 'SHelvetica';
    src: url('../fonts/Helvetica/helvetica_oblique.otf') format('opentype');
    src: url('../fonts/Helvetica/helvetica_cyr_oblique.ttf') format('truetype');
}
@font-face {
    font-style: oblique;
    font-family: 'SHelvetica_bold';
    src: url('../fonts/Helvetica/helvetica_boldoblique.otf') format('opentype');
    src: url('../fonts/Helvetica/helvetica_cyr_boldoblique.ttf') format('truetype');
}
@font-face {
    font-family: 'ModernoTwo';
    src: url('../fonts/ModernoTwo.ttf');
}


    