.slider_main {
    width: 36.46vw;
    height: 25.26vw;
    position: relative;
    overflow: hidden;
    border-radius: 2.34vw;
    background-color: #fff;  
}

.slides_main {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slides_main img {
    border: none;
    width: 36.46vw;
    height: 25.26vw;
}

@media only screen and (max-width: 600px) {
    .slider_main{
        width: 90%;
        height: 56vw;
        margin: 4vw 0;
    }
    .slider_main img{
        width: 100%;
        height: 100%;
    }
}
